body {
  background-color: slategrey;
  user-select: none;
  touch-action: manipulation;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
.leftSection {
  width: 80%;
  float: left;
  text-align: center;
  color: lightgrey;
}
.clickBox {
  width: 30%;
  height: 20%;
  background-color: aliceblue;
  position: absolute;
  left: 25%;
  top: 10%;
  font-size: 400%;
  border-radius: 2.5%;
}
.clickBox:active {
  transform: scale(1.1);
}

.rightSection {
  width: 20%;
  float: right;
  color: lightgrey;
}
.shopButton {
  background-color: rgb(146, 146, 146);
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}
.shopButton:hover {
  background-color: rgb(186, 186, 186);
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgb(32, 32, 32);
  text-align: center;
  color: aliceblue;
}

#resetButton {
  text-align: right;
  float: right;
  margin-right: 2%;
  background-color: slategray;
  cursor: pointer;
  border: none;
  border-radius: 10%;
}
