body {
  background-color: slategrey;
  user-select: none;
  touch-action: manipulation;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
.leftSection {
  width: 70%;
  float: left;
  text-align: center;
  color: lightgrey;
}
.scoreDisplay {
  background-color: rgb(122, 122, 122, 0.6);
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  position: absolute;
  left: 10%;
}
.clickBox {
  width: 30%;
  height: 20%;
  background-color: aliceblue;
  position: absolute;
  left: 20%;
  top: 10%;
  font-size: 400%;
  border-radius: 2.5%;
}
.clickBox:hover {
  transform: scale(1.1);
}
.clickBox:active {
  transform: scale(1.2);
}

.rightSection {
  margin-top: 5%;
  width: 30%;
  float: right;
  color: lightgrey;
  white-space: nowrap;
}
.shopButton {
  background-color: rgb(146, 146, 146);
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.shopButton:hover {
  background-color: rgb(186, 186, 186);
  transition: all 0.2s ease-in-out;
}

.shopButton #amount {
  font-size: 110%;
  width: 15%;
}
.shopButton #nameAndCost p:first-of-type {
  font-size: 110%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgb(32, 32, 32);
  text-align: center;
  color: aliceblue;
}

#resetButton {
  text-align: right;
  float: right;
  margin-right: 2%;
  background-color: slategray;
  cursor: pointer;
  border: none;
  border-radius: 10%;
}
